[
	{"name": "のり弁当", "price": "440"},
	{"name": "のり弁当（小）", "price": "420"},
	{"name": "のり弁当（大）", "price": "460"},
	{"name": "のり弁当（おかず）", "price": "330"},
	{"name": "デラックス弁当", "price": "390"},
	{"name": "デラックス弁当（小）", "price": "370"},
	{"name": "デラックス弁当（大）", "price": "410"},
	{"name": "デラックス弁当（おかず）", "price": "280"},
	{"name": "ヘルシー弁当", "price": "360" ,"kind":"preorder"}
]